nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="#") NBA
    .nav.navbar-nav.navbar-right
      li
       a(href="#section_ask") 開頭 BEGIN
      li
       a(href="#section_about") 介紹 INTRO
      li
       a(href="#section_video") 影片 VIDEO
      li
       a(href="https://www.google.com/search?rlz=1C1NDCM_zh-TWTW701TW701&biw=1536&bih=754&ei=OrU5XLmXDoGU8wW5jbvwCw&q=%E5%9B%9B%E5%A4%A7%E5%88%86%E8%A1%9B&oq=%E5%9B%9B%E5%A4%A7%E5%88%86%E8%A1%9B&gs_l=psy-ab.3..0.477076.477180..477941...0.0..0.78.117.2......0....1..gws-wiz.XHTNuhvdU4o" target="_blank") 看更多 MORE
header.jumbotron
.container
  h1 時代的眼淚-NBA四大分衛
  hr
  h4 曾經活在我們印象裡的他們
section#section_ask
  .container
    .row
      .col-sm-5.img
      .col-sm-7
        h2 何謂四大分衛?
        p 由Allen Iverson、Kobe Bryant、Vince Carter、Tracy McGrady四人所擁有的美名
section#section_about
   .container
      .row 
        .col-sm-3
          p <img src="http://p3.pstatp.com/large/2c3f000384353deb01e6" width="253" height="180"></a>
          h3 東艾 Allen Iverson
          p 綽號:戰神
          p 選秀順位: 第一輪 第1順位
          p 著名背號: 3
          p 生涯成就:NBA全明星賽*11、NBA全明星賽MVP*2、NBA年度最佳新秀、NBA得分王*4、NBA抄截王*3
        .col-sm-3
          p <img src="http://p9.pstatp.com/large/2c4000032dbc73572be5" width="253" height="180"></a>
          h3 西科 Kobe Bryant
          p 綽號:黑曼巴
          p 選秀順位: 第一輪 第13順位
          p 著名背號: 8. 24
          p 生涯成就:NBA總冠軍*5、NBA總決賽MVP*2、NBA最有價值球員*1、NBA全明星賽*18、NBA全明星賽MVP*4、NBA得分王*2、奧運會金牌*2、NBA灌籃大賽冠軍*1
        .col-sm-3
          p <img src="http://cdntwrunning.biji.co/800_ff2e49452585cbad379fd7e042b93d08.jpg" width="253"height="180"></a>
          h3 北卡 Vince Carter
          p 綽號:半人半神
          p 選秀順位: 第一輪 第5順位
          p 著名背號: 15
          p 生涯成就:NBA全明星賽*8、奧運會金牌*1、NBA灌籃大賽冠軍*1
        .col-sm-3
          p <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdbeSpq5UKtJvqjwxACa59o46nUJ0byNjTXhDlI-mTw8mbbHI5" width="253" height="180"></a>
          h3 南麥 Tracy McGrady
          p 綽號:T-Mac
          p 選秀順位: 第一輪 第9順位
          p 著名背號: 1
          p 生涯成就:NBA全明星賽*7、NBA得分王*2
section#section_video
  .container
    .row
      .col-sm-12
        h1 Highlight
        hr
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src='https://www.youtube.com/embed/KuW-QG2vRtY', allowfullscreen='')
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src='https://www.youtube.com/embed/nLuh8u6xJjY', allowfullscreen='')
      .embed-responsive.embed-responsive-16by9
         iframe.embed-responsive-item(src='https://www.youtube.com/embed/KxQVU6aiGbQ', allowfullscreen='')
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src='https://www.youtube.com/embed/bY2JcN-kYJc', allowfullscreen='')
      

      



       

  
